In [2]:
import sqlite3
import pandas as pd

In [3]:
providers = pd.read_csv("providers_data.csv")
receivers = pd.read_csv("receivers_data.csv")
food_listings = pd.read_csv("food_listings_data.csv")
claims = pd.read_csv("claims_data.csv")

In [4]:
conn = sqlite3.connect("food_wastage.db")
cursor = conn.cursor()

In [58]:
cursor.execute('''
    CREATE TABLE IF NOT EXISTS providers (
        Provider_ID INTEGER PRIMARY KEY,
        Name TEXT,
        Type TEXT,
        Address TEXT,
        City TEXT,
        Contact TEXT
    )
''')

In [60]:
import mysql.conn

ModuleNotFoundError: No module named 'mysql'

In [61]:
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="12345",
    
)
cursor = conn.cursor()

NameError: name 'mysql' is not defined

In [62]:
cursor.execute("CREATE DATABASE IF NOT EXISTS food_data")
print("MySQL database 'food_data' created successfully!")

OperationalError: near "DATABASE": syntax error

In [64]:
cursor.execute("use food_data")

OperationalError: near "use": syntax error

In [65]:
cursor.execute("""
    CREATE TABLE IF NOT EXISTS providers (
        Provider_ID INT PRIMARY KEY,
        Name VARCHAR(255),
        Type VARCHAR(100),
        Address TEXT,
        City VARCHAR(100),
        Contact VARCHAR(50)
    )
""")
conn.commit()

In [66]:
for index, row in providers.iterrows():
    cursor.execute("""
        INSERT INTO providers (Provider_ID, Name, Type, Address, City, Contact) 
        VALUES (%s, %s, %s, %s, %s, %s)
    """, tuple(row))

OperationalError: near "%": syntax error

In [5]:
query = """
    SELECT City, COUNT(*) AS Provider_Count
    FROM providers
    GROUP BY City
    ORDER BY Provider_Count DESC
    LIMIT 1;
"""

cursor.execute(query)
result = cursor.fetchall()

# Convert result into a DataFrame for better readability
df = pd.DataFrame(result, columns=["City", "Provider_Count"])
df

Empty DataFrame
Columns: [City, Provider_Count]
Index: []

In [68]:
%%writefile foods_app.py
import streamlit as st 

st.title("This is my project")

st.header("This is a header")
st.subheader("This is a subheader")


st.text("This is plain text")
st.markdown("### This is a markdown text")


# Input Widgets
name = st.text_input("Enter your name")
feedback = st.text_area("Provide your feedback")



# Buttons and Checkboxes
if st.button("Submit"):
    st.success(f"Hello {name}, thanks for your feedback!")


agree = st.checkbox("I agree to the terms and conditions")
if agree:
    st.write("You agreed!")

choice = st.radio("Choose an option:", ["Option 1", "Option 2", "Option 3"])
st.write(f"You selected: {choice}")

# Selectbox and Multiselect
color = st.selectbox("Select a color", ["Red", "Green", "Blue"])
st.write(f"You chose: {color}")

hobbies = st.multiselect("Select your hobbies", ["Reading", "Coding", "Gaming"])
st.write(f"Your hobbies: {', '.join(hobbies)}")

# Sliders and Number Input
age = st.slider("Select your age", 1, 100, 25)
st.write(f"Your age is: {age}")

Writing foods_app.py

In [69]:
!streamlit run foods_app.py

^C